* {
    margin: 0;
    padding: 0;
}

html, body {
    top: 0; left: 0; right: 0; bottom: 0;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;

    background-color: yellowgreen;
    font-family: 'Press Start 2P', cursive;
}

.navbar {
    display: flex;
    height: 70px;
    background-color: red;
    padding: 10px;
    margin: 0 0 30px 0;

}

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    
}
.board {
    display: grid;
    width: 48vw;
    grid-template-columns: repeat(8, 6vw);
    grid-template-rows: repeat(8, 6vw);
    background-color: blue;
    margin: auto;
}

